@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

.App {
  text-align: center;
  background: rgb(212, 209, 209);
  font-family: Indie Flower; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("../assets/background.jpg");
  height: 150px;
  padding: 20px;
  font-size: 32px;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-header{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.left-header{
  justify-content: flex-start;
}

.header-item{
  margin : 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tempClass {
  display : flex;
  margin: 3em;
  padding: 3em;
  flex-direction: column;
}

.tempClass li {
  margin: 2em;
}



.Random-Card-Container{
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.horizontal-list{
  float: left;
  display: block;
  color: white;
  text-align: center;
  justify-content: space-around;
  padding: 16px;
  text-decoration: none;
  margin: 0;
}

.Random-Card{
  background: #fff;
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: row;
  opacity: 0.8;
  margin: 0;
  padding : 2em;
  align-self: center;
  opacity: 0.8;
  border-radius: 10%;
  box-shadow: 5px 10px rgb(100,100,10,0.7);
}


.Card-Container{
  margin: 2em;
  padding : 2em;
  background: rgb(230, 224, 224);
  border-radius: 2em;
  color : #fff;
  font-family: Indie Flower; 
  width: 18em;
  height: 30em;
}

.CategoryCard-Container{
  margin: 2em;
  padding : 2em;
  background: rgb(230, 224, 224);
  border-radius: 2em;
  color : #fff;
  font-family: Merriweather
}

.Drink-Card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0.8;
  padding : 1em;
}

.Drink-Card:hover{
  opacity: 1;
}

.small-text{
  margin: 20px;
  width: 200px;
  height: 200px;

}

li{
  list-style-type: none
}

h1{
  font-size: 36px
}

h2{
  font-size: 28px
}

.input-text{
  margin: 1em;
  padding: 1em;
}

.Grid-header{
  padding: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #aaaaaa;
  border-radius: 2em;
  height: 5em;
}

.Grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}


.Grid-container{
  background: #fff;
  margin: 2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.icon{
  height: 40px;
  width: 40px;
}
.clickable:hover{
cursor: pointer;
}

.flex-horizontal-container{
  display: flex;
  justify-content: space-around;
}

.flex-horizontal{
  flex-direction: column;
}

.flex-vertical{
  flex-direction: row;
}

.bottleIcon{
  height: 15em;
  width: 15em;
  padding :1em;
  margin: 1em;
  justify-content: center;
}
.right{
  float: right;
}