@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

.App {
  text-align: center;
  background: rgb(139, 69, 69);
  font-family: Indie Flower; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("../assets/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 380px;
  padding: 20px;
  font-size: 32px;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-header{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.left-header{
  justify-content: flex-start;
}

.header-item{
  margin : 5px;
}
.align-end{
  align-self: flex-end;
}

.autocomplete{
  position: relative;
}

.downshift-dropdown{
  position: absolute;
  top: 25px;
  right: 0px;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tempClass {
  display : flex;
  margin: 3em;
  padding: 3em;
  flex-direction: column;
}

.tempClass li {
  margin: 2em;
}

.Random-Card-Container{
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.horizontal-list-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}


.Random-Card{
  background: #fff;
  height: 30em;
  width: 38em;
  opacity: 0.8;
  margin: 0;
  align-self: center;
  opacity: 0.8;
}

.padding-listtext {
  padding-right: 2.7em;
  padding-left: 2.7em;
  padding-top: 2em;
}

.Card-Container{
  margin: 2em;
  padding-top : 2em;
  padding-bottom: 2em;
  border-radius: 1em;
  background: #111;
  color : #fff;
  font-family: Indie Flower; 
  width: 22em;
  height: 34em;
}

.CategoryCard-Container{
  margin-top: 2em;
  height: 300px;
  width: 300px;
  background: #222;
  color : #fff;
  font-family: Merriweather;
  overflow: hidden;
}
.CategoryCard-header{
  padding: 2em;
}

.DrinkCard-header{
}
.Drink-Card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0.8;
}

.Drink-Card img{
  height: 100%;
  width: 100%;
  margin: auto;
}

.Drink-Card:hover{
  opacity: 1;
}

.small-text{
  margin: 20px;
  width: 200px;
  height: 200px;

}

li{
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
}

h1{
  font-size: 36px;
}

h2{
  font-size: 28px;
  margin-block-start: 0;
  margin-block-end: 0;
}

button{
  padding: 1em;
  background-color: #eee;
  color: black;
  border: 2px solid rgb(139, 69, 69);;
}
.small-button{
  height: 1.8em;
  width: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.Grid-header-container{
  background: #aaaaaa;
  border-radius: 1em 1em 1em 1em;
  height: 10em;
  display: flex;
  justify-content: space-around  
}

.Grid-header-container-square{
  background: #aaaaaa;
  height: 10em;
  display: flex;
  justify-content: space-around   
}

.Grid-header{
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.Grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}


.Grid-container{
  margin: 2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-family: Indie Flower;
}

.modal-main {
  position:fixed;
  background: white;
  width: 700px;
  height: 700px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.icon{
  height: 40px;
  width: 40px;
}
.clickable:hover{
cursor: pointer;
}

.flex-container-horizontal{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flex-space-between{
 justify-content: space-between;
}

.flex-container-vertical{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.bottleIcon{
  height: 15em;
  width: 15em;
  padding :1em;
  margin: 1em;
  justify-content: center;
}
.right{
  float: right;
}
.topright{
  position: absolute;
  top: 0;
  right: 0;
}

.half{
  width: 50%;
}

.fifth{
  width: 20%;
  height: 20%;
}

.max-parent{
  max-width: 100%;
  max-height: 100%;
}

.bold{
  text-emphasis: bold;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide{
  display: none;
}

/*
Other css:
*/


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; 
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/**
  Link
**/

a {
  color: #2098f3;
  text-decoration: none;
  word-wrap: break-word;
  cursor: pointer;
}

a:hover {
  color: #40a9ff;
  text-decoration: none;
}

/**
  Button
**/


.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 4px;
  height: 45px;
  line-height: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  position: relative;
  color: rgba(0,0,0,.65);
  background-color: transparent;
  border-color: #e8e8e8;
  outline: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding: 0 30px;
}

.btn-primary {
    color: #fff;
    background-color: #2098f3;
    border-color: #2098f3;  
} 

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.btn-success {
    color: #fff;
    background-color: #52c41a;
    border-color: #52c41a;    
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  background-color: #52c41a;
  border-color: #52c41a;
}


.btn-link {
  border: none;
  height: 34px;
  padding: 0 15px;
}

.btn-link:hover {
  background-color: rgba(158,158,158, 0.20);
}


/**
  Form
**/

.form-item {
	margin-bottom: 18px;
}

.form-item .btn {
    cursor: pointer;
}

.form-item label {
    font-size: 0.85em;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 5px;
    color: rgba(0,0,0,.65);
}

.form-control {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 45px;
  font-size: 0.87em;
  line-height: 45px;
  color: rgba(0,0,0,.80);
  background-color: #fff;
  background-image: none;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  transition: all .3s;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


.form-control:hover, .form-control:focus, .form-control:active {
  border-color: #40a9ff;
  outline: 0;
  border-right-width: 1px!important;
}

.form-control:focus, .form-control:active {
  box-shadow: 0 0 0 2px rgba(24,144,255,.2);    
}

.form-control.invalid {
  border-color: #f5222d;
}

.form-control.invalid:focus, .form-control.invalid:active {
  box-shadow: 0 0 0 2px rgba(245,34,45,.2);        
} 

.form-control[disabled], fieldset[disabled] .form-control {
  cursor: not-allowed;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #f6f8fa;
  opacity: 1;
}

.form-label {
  margin-bottom: 10px;
}

/**
  Or separator
**/

.or-separator {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1em;    
}

.or-text {
  position: absolute;
  left: 46%;
  top: 0;
  background: #fff;
  padding: 10px;
  color: rgba(0,0,0,.45);
}